/*
   Wednesday, January 14, 20262:23:51 PM
   User: 
   Server: DESKTOP-DI29PVA\MSSQLSERVER01
   Database: UnionHall
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.CMP_Reports SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CMP_Reports', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CMP_Reports', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CMP_Reports', 'Object', 'CONTROL') as Contr_Per BEGIN TRANSACTION
GO
CREATE TABLE dbo.CMP_ReportNotes
	(
	id bigint NOT NULL IDENTITY (1, 1),
	ReportId bigint NOT NULL,
	Note text NOT NULL,
	CreatedDate datetime NOT NULL,
	CreatedBy varchar(50) NOT NULL
	)  ON [PRIMARY]
	 TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE dbo.CMP_ReportNotes ADD CONSTRAINT
	DF_CMP_ReportNotes_CreatedDate DEFAULT SYSDATETIME() FOR CreatedDate
GO
ALTER TABLE dbo.CMP_ReportNotes ADD CONSTRAINT
	PK_CMP_ReportNotes PRIMARY KEY CLUSTERED 
	(
	id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
ALTER TABLE dbo.CMP_ReportNotes ADD CONSTRAINT
	FK_CMP_ReportNotes_CMP_Reports FOREIGN KEY
	(
	ReportId
	) REFERENCES dbo.CMP_Reports
	(
	id
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.CMP_ReportNotes SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
select Has_Perms_By_Name(N'dbo.CMP_ReportNotes', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.CMP_ReportNotes', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.CMP_ReportNotes', 'Object', 'CONTROL') as Contr_Per 