USE [UnionHall]
GO
/****** Object:  Table [dbo].[CMP_ReviewedHires]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_ReviewedHires](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[EmployerID] [nvarchar](50) NOT NULL,
	[ContractorName] [nvarchar](100) NOT NULL,
	[MemberName] [nvarchar](100) NOT NULL,
	[IANumber] [int] NOT NULL,
	[StartDate] [datetime2](0) NOT NULL,
	[HireType] [nvarchar](20) NOT NULL,
	[IsReviewed] [bit] NOT NULL,
	[IsExcluded] [bit] NULL,
	[EndDate] [datetime2](0) NULL,
	[ContractorID] [int] NOT NULL,
	[IsInactive] [bit] NOT NULL,
	[ReviewedDate] [datetimeoffset](7) NULL,
	[ExcludedComplianceRules] [nvarchar](255) NULL,
	[CreatedByUserName] [nvarchar](100) NOT NULL,
	[CreatedByName] [nvarchar](100) NOT NULL,
	[CreatedOn] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__CMP_Revi__3214EC070028CEE0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMP_ContractorSnapshot]    Script Date: 3/5/2026 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_ContractorSnapshot](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ContractorID] [varchar](10) NOT NULL,
	[ContractorName] [nvarchar](100) NOT NULL,
	[LastWedReported] [datetime2](0) NULL,
	[SnapshotWed] [datetime2](0) NOT NULL,
	[CompanyType] [nvarchar](255) NULL,
	[LastHireDate] [datetime2](0) NULL,
	[Journeypersons] [int] NULL,
	[IsInactive] [bit] NOT NULL,
	[CreatedOn] [datetime2](0) NOT NULL,
 CONSTRAINT [PK__CMP_ContractorSnapshot__0028CEE0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CMP_ContractorSnapshot] ADD  CONSTRAINT [DF_CMP_ContractorSnapshot_CreatedOn]  DEFAULT (SYSDATETIME()) FOR [CreatedOn]
GO
/****** Object:  View [dbo].[CMP_HireData]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[CMP_HireData]
AS
SELECT        TOP (100) PERCENT EmployerID, ContractorName, MemberName, IANumber, StartDate, HireType, IsReviewed, IsExcluded, EndDate, ContractorID, ReviewedDate
FROM            dbo.CMP_ReviewedHires
WHERE        (IsInactive = 0) AND (ExcludedComplianceRules IS NULL)
ORDER BY Id
GO
/****** Object:  Table [dbo].[CMP_Modes]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_Modes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mode_name] [nvarchar](10) NULL,
	[mode_value] [int] NULL,
 CONSTRAINT [PK_CMP_Modes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMP_ReportDetails]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_ReportDetails](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [bigint] NOT NULL,
	[EmployerId] [nvarchar](100) NULL,
	[ContractorId] [int] NULL,
	[ContractorName] [varchar](255) NULL,
	[MemberName] [varchar](255) NULL,
	[IANumber] [nvarchar](100) NULL,
	[StartDate] [date] NULL,
	[HireType] [nvarchar](50) NULL,
	[ComplianceStatus] [varchar](50) NULL,
	[DirectCount] [int] NULL,
	[DispatchNeeded] [int] NULL,
	[NextHireDispatch] [varchar](1) NULL,
	[ReviewedDate] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_CMP_ReportDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMP_Reports]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_Reports](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[RunId] [bigint] NOT NULL,
	[EmployerId] [nvarchar](100) NULL,
	[ContractorId] [int] NULL,
	[ContractorName] [varchar](255) NULL,
	[ComplianceStatus] [varchar](50) NULL,
	[DirectCount] [int] NULL,
	[DispatchNeeded] [int] NULL,
	[NextHireDispatch] [varchar](1) NULL,
 CONSTRAINT [PK_CMP_Report] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CMP_Runs]    Script Date: 1/13/2026 3:14:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CMP_Runs](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ReportDate] [date] NULL,
	[ReviewedDate] [date] NULL,
	[ModeId] [int] NULL,
	[Run] [int] NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_CMP_Runs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CMP_Runs] ADD  CONSTRAINT [DF_CMP_Runs_CreatedOn]  DEFAULT (sysdatetime()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[CMP_ReportDetails]  WITH CHECK ADD  CONSTRAINT [FK_CMP_ReportDetails_CMP_Runs] FOREIGN KEY([RunId])
REFERENCES [dbo].[CMP_Runs] ([id])
GO
ALTER TABLE [dbo].[CMP_ReportDetails] CHECK CONSTRAINT [FK_CMP_ReportDetails_CMP_Runs]
GO
ALTER TABLE [dbo].[CMP_Reports]  WITH CHECK ADD  CONSTRAINT [FK_CMP_Reports_CMP_Runs] FOREIGN KEY([RunId])
REFERENCES [dbo].[CMP_Runs] ([id])
GO
ALTER TABLE [dbo].[CMP_Reports] CHECK CONSTRAINT [FK_CMP_Reports_CMP_Runs]
GO
ALTER TABLE [dbo].[CMP_Runs]  WITH CHECK ADD  CONSTRAINT [FK_CMP_Run_CMP_Modes] FOREIGN KEY([ModeId])
REFERENCES [dbo].[CMP_Modes] ([id])
GO
ALTER TABLE [dbo].[CMP_Runs] CHECK CONSTRAINT [FK_CMP_Run_CMP_Modes]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "CMP_ReviewedHires"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 234
               Right = 266
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CMP_HireData'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'CMP_HireData'
GO
